@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --greenPrimary: #495e57;
  --yellowPrimary: #f4ce14;
  --orangeSecondary: #ee9972;
  --lightOrangeSecondary: #fbdabb;
  --graySecondary: #edefee;
  --blackSecondary: #333333;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

/*: Nav style  */
/*? desktop */

.flex-desktop {
  @apply flex justify-between items-center;
}
.flex-phone {
  @apply flex flex-col justify-center items-center;
}
.hidden-desktop {
  @apply xl:hidden lg:hidden md:block sm:block;
}
.hidden-phone {
  @apply xl:block lg:block md:hidden sm:hidden;
}
.hidden-phone-special {
  @apply xl:flex lg:flex md:hidden sm:hidden;
}
.nav-size {
  @apply xl:text-[1.3rem] lg:text-[1.2rem] md:text-[1.4rem] sm:text-[1.3rem];
}
.nav-size-btn {
  @apply xl:text-[1.3rem] lg:text-[1.3rem] md:text-[1.rem] sm:text-[0.8rem];
}
.nav-img-size {
  @apply xl:w-44 lg:w-36 md:w-40 sm:w-36;
}

.nav-ul li {
  transition: 0.2s ease-in-out;
  @apply py-1 px-3 cursor-pointer;
}
.nav-ul li:hover {
  transition: 0.2s ease-in-out;
  @apply bg-slate-200 rounded-md;
}

/*? nav scroll logic */
.scrollHidden {
  transform: translateY(-100px);
  transition: 0.3s ease-in-out;
}
/*? phones */

@media (max-width: 830px) {
  .activeHamMenu-container {
    @apply flex flex-col items-center;
  }
  .activeHamMenu {
    @apply w-full  flex flex-col justify-center items-center;
  }

  .activeHamMenu li {
    @apply w-full text-center py-2 my-1;
  }
  .activeHamMenu li:last-child {
    @apply font-karla  text-greenPrimary font-bold;
  }
}

@keyframes hamMenu {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

/*: Main style  */
/*? desktop */
.flex-desktop-hero {
  @apply flex justify-between items-center;
}
.size-hero-title {
  @apply xl:text-[2.8rem] lg:text-[2.5rem] md:text-[2.2rem] sm:text-[1.8rem];
}

.size-hero-text {
  @apply xl:text-[1.1rem] lg:text-[1rem] md:text-[0.9rem] sm:text-[0.8rem];
}
.size-hero-base {
  @apply xl:text-[1.3rem] lg:text-[1.2rem] md:text-[1rem] sm:text-[0.8rem];
}

.text-width-hero {
  @apply xl:min-w-[400px] lg:min-w-[350px] md:max-w-[300px] sm:max-w-[200px] lg:my-8 sm:my-6;
}

.primary-btn {
  @apply py-2 px-3 text-black xl:text-[1.4rem] lg:text-[1.3rem] md:text-[1.2rem] sm:text-[1rem]  bg-yellowPrimary rounded-xl;
  @apply hover:text-greenPrimary text-nowrap;
}

.img-width-hero {
  @apply lg:w-[300px] lg:h-[400px] md:w-[250px] md:h-[320px] sm:w-[200px] sm:h-[250px]  rounded-md;
}

/*: Cards style  */
/*? desktop */
.card-title {
  @apply xl:text-[1.4rem] lg:text-[1.25rem] md:text-[1.15rem] sm:text-[1rem];
}
.card-text {
  @apply xl:text-[1rem] lg:text-[0.89rem] md:text-[1rem] sm:text-[0.8rem];
}
.card-price {
  @apply font-bold xl:text-[1.2rem] lg:text-[1.05rem] md:text-[1.05rem] sm:text-[0.9rem];
}
.card-footer {
  @apply xl:text-[1.1rem] lg:text-[1rem] md:text-[1rem] sm:text-[0.8rem];
}
.card-img-size {
  @apply xl:h-[200px] lg:h-[200px]   md:h-[200px]  sm:h-[140px]  rounded-t-md;
}
.card-size {
  @apply xl:w-[300px] lg:w-[270px]  md:w-[300px] sm:w-[220px];
  @apply lg:hover:scale-105 will-change-transform duration-300 ease-in-out;
  @apply lg:mb-16 lg:mx-auto xl:mx-0;
}
.cards-container {
  @apply lg:flex-wrap xl:justify-between lg:justify-center;
}

/*? phones */

@media (max-width: 830px) {
  .cards-container {
    @apply w-full md:h-[400px] sm:h-[350px];
  }

  .active {
    @apply self-center block w-20 h-20;
    @apply hover:bg-slate-200 rounded-full p-3;
    @apply md:w-20 md:h-20 sm:w-16 sm:h-16;
  }
  .card-phone-size {
    @apply mx-auto absolute right-5 left-5;
  }
  .card-phone-size p {
    @apply sm:my-3 md:my-7;
  }
}

@keyframes cardMotion {
  from {
    transform: translateX(0px) rotateZ(0deg);
    opacity: 1;
  }
  to {
    transform: translateX(200px) rotateZ(45deg);
    opacity: 0;
  }
}
.active-animation-card {
  animation: cardMotion 0.6s ease-in-out;
}

.active-animation-card-reverse {
  animation: cardMotionReverse 0.6s ease-in-out;
}
@keyframes cardMotionReverse {
  from {
    transform: translateX(0px) rotateZ(0deg);
    opacity: 1;
  }
  to {
    transform: translateX(-200px) rotateZ(-45deg);
    opacity: 0;
  }
}
/*: Reviews style  */
/*? desktop */
.review-stars {
  @apply xl:text-[1.6rem] lg:text-[1.4rem] md:text-[1.3rem] sm:text-[1.2rem];
}
.review-name {
  @apply xl:text-[1.3rem] lg:text-[1.1rem] md:text-[1.05rem] sm:text-[1rem];
}
.review-text {
  @apply xl:text-[1.1rem] lg:text-[1rem] md:text-[.9rem] sm:text-[0.8rem] text-greenPrimary;
}
.review-card-img {
  @apply xl:w-28  lg:w-24 md:w-20 sm:w-16  rounded-sm;
}
.review-card-width {
  @apply max-w-none  xl:min-w-[300px] xl:h-[300px] lg:min-w-[270px] lg:h-[250px] md:min-w-[270px] md:h-[300px] sm:min-w-[230px] sm:h-[230px]  rounded-md;
  @apply lg:mb-6 bg-white ring-slate-300;
  @apply xl:mx-[35px] lg:mx-[40px] md:mx-[30px] sm:mx-[20px];
}
.scrollContainer {
  scrollbar-width: none;
}
.scrollContainer::-webkit-scrollbar {
  display: none;
}

/*: About style  */
.section-title {
  @apply xl:text-[1.7rem] lg:text-[1.7rem] md:text-[1.7rem] sm:text-[1.6rem] font-markazi;
}

.pic0 {
  transform: translate(-50px, -50px);
}

.about-text {
  @apply xl:text-[1.1rem] lg:text-[1.05rem] md:text-[0.9rem] sm:text-[0.8rem] font-bold;
  @apply xl:w-[400px] lg:w-[400px] md:w-[300px]  sm:w-[300px];
}
.about-pic {
  @apply max-w-none  xl:w-[250px] xl:h-[300px] lg:w-[230px] lg:h-[280px] md:w-[200px] md:h-[250px] sm:w-[150px] sm:h-[200px]  rounded-md;
}
.smScreens-about {
  @apply md:flex-row sm:flex-col;
}
.text-about-div {
  @apply md:mb-[0px] sm:mt-[40px] sm:order-3 md:order-1;
}

@media (max-width: 950px) and (min-width: 830px) {
  #main-div-about {
    @apply lg:px-16;
  }
}
@media (max-width: 750px) and (min-width: 550px) {
  #main-div-about {
    @apply md:px-3;
  }
  #about-text {
    @apply md:text-[0.8rem] md:w-[250px];
  }
}
@keyframes imgSwitcher {
  0% {
    transform: translate(-50px, -50px);
    opacity: 1;
  }
  50% {
    transform: translate(0px, 0px);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50px, -50px);
    opacity: 1;
  }
}

/*: Footer style  */
.footer-text {
  @apply xl:text-[1rem] lg:text-[0.95rem] md:text-[0.85rem] sm:text-[0.7rem];
}
.footer-title {
  @apply text-greenPrimary font-bold;
  @apply xl:text-[1.1rem] lg:text-[1.05rem] md:text-[0.9rem] sm:text-[0.8rem];
}

.footer-ul li {
  @apply py-1 px-3 cursor-pointer hover:text-yellow-700 rounded-sm duration-300 ease-in-out;
}

/*!         -------- form style */

.form-style :is(input,select){
  @apply lg:w-[300px]  sm:w-[200px] ;
}
.form-style label {
  @apply mb-1 px-1 ;
}
#submit-btn{
  @apply w-[200px] p-2  mt-8 bg-yellowPrimary text-black hover:text-greenPrimary;
}

/* ------------calendar style */
.css-10o2lyd-MuiStack-root{
  @apply !pt-0 hover:!ring-4;

}
.css-15mt5d2-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  @apply bg-white;
}
.css-1e1e83h-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    @apply bg-white;

}


.MuiPickersDay-root, .MuiPickersDay-dayWithMargin {
  @apply hover:!bg-greenPrimary/40;

}
.Mui-selected {
  @apply !bg-greenPrimary/30;
}
.Mui-selected.MuiPickersDay-root {
  @apply !bg-greenPrimary/100;
}
 
.MuiPickersDay-today{
    @apply !bg-transparent !border-none;
}

/* ---------------------------------------------------------- */
.base--error{
  @apply !ring-1 !ring-red-500
}
.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.Mui-error{
    @apply  !ring-1 !ring-red-500 !shadow-none p-[-2px] !z-50;
}